In [9]:
import pandas as pd

# Step 1: Read the CSV file into a pandas DataFrame
df = pd.read_csv('datasets/breaches_exp_geo.csv')

df.head(3)

,Unnamed: 0,Company,name,Year,Number of Records Affected,Organization Type,Reasons for Breach,Reference Link(s),domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate,country_code,latitude,longitude
0,0,21st Century Oncology,21st century oncology,2016,2200000.0,['healthcare'],['hacked'],[['http://cbs12.com/news/local/21st-century-on...,21stcenturyoncology.com,0.0,medical practice,1001 - 5000,"fort myers, florida, united states",united states,linkedin.com/company/21st-century-oncology,866.0,1426.0,US,187.24.00,-11976.31.00
1,1,500px,500px,2020,14870304.0,['social network'],['hacked'],[['https://www.theregister.co.uk/2019/02/11/62...,500px.com,2009.0,internet,201 - 500,"toronto, ontario, canada",canada,linkedin.com/company/500px,123.0,281.0,CA,2228.46.00,-5885.31.00
2,2,Accendo Insurance Co.,accendo group,2020,175350.0,['healthcare'],['poor security'],[['https://www.prnewswire.com/news-releases/ac...,vivepoint.com,2011.0,management consulting,1 - 10,"nice, provence-alpes-cote d'azur, france",france,linkedin.com/company/accendo-group,2.0,5.0,FR,3839.58.00,3564.29.00

In [10]:

# Step 2: Clean the 'Organization Type' column by removing square brackets and single quotes
df['Organization Type'] = df['Organization Type'].str.strip("[]'")

df.head(3)

,Unnamed: 0,Company,name,Year,Number of Records Affected,Organization Type,Reasons for Breach,Reference Link(s),domain,year founded,industry,size range,locality,country,linkedin url,current employee estimate,total employee estimate,country_code,latitude,longitude
0,0,21st Century Oncology,21st century oncology,2016,2200000.0,healthcare,['hacked'],[['http://cbs12.com/news/local/21st-century-on...,21stcenturyoncology.com,0.0,medical practice,1001 - 5000,"fort myers, florida, united states",united states,linkedin.com/company/21st-century-oncology,866.0,1426.0,US,187.24.00,-11976.31.00
1,1,500px,500px,2020,14870304.0,social network,['hacked'],[['https://www.theregister.co.uk/2019/02/11/62...,500px.com,2009.0,internet,201 - 500,"toronto, ontario, canada",canada,linkedin.com/company/500px,123.0,281.0,CA,2228.46.00,-5885.31.00
2,2,Accendo Insurance Co.,accendo group,2020,175350.0,healthcare,['poor security'],[['https://www.prnewswire.com/news-releases/ac...,vivepoint.com,2011.0,management consulting,1 - 10,"nice, provence-alpes-cote d'azur, france",france,linkedin.com/company/accendo-group,2.0,5.0,FR,3839.58.00,3564.29.00

In [11]:
# Step 3: Create a mapping for the macrocategories
macrocategory_mapping = {
    'healthcare': 'Health & Science',
    'biotechnology': 'Health & Science',
    'academic': 'Health & Science',
    'educational': 'Health & Science',
    'financial': 'Finance & Business',
    'retail': 'Finance & Business',
    'online marketing': 'Finance & Business',
    'data broker': 'Finance & Business',
    'tech': 'Technology & Telecommunications',
    'telecoms': 'Technology & Telecommunications',
    'hosting provider': 'Technology & Telecommunications',
    'government': 'Government & Public Services',
    'military': 'Government & Public Services',
    'humanitarian': 'Government & Public Services',
    'political': 'Government & Public Services',
    'charity': 'Government & Public Services',
    'social network': 'Media & Entertainment',
    'media': 'Media & Entertainment',
    'entertainment': 'Media & Entertainment',
    'web': 'Media & Entertainment',
    'gaming': 'Media & Entertainment',
    'advertising': 'Media & Entertainment',
    'publishing': 'Media & Entertainment',
    'construction': 'Industry & Infrastructure',
    'energy': 'Industry & Infrastructure',
    'transport': 'Industry & Infrastructure',
    'hospitality': 'Hospitality & Services',
    'restaurant': 'Hospitality & Services',
    'local search': 'Hospitality & Services',
    'various': 'Other'
}

# Step 4: Map the cleaned 'Organization Type' values to the macrocategories
df['macrocategory'] = df['Organization Type'].map(macrocategory_mapping)


df.head(5)

,Unnamed: 0,Company,name,Year,Number of Records Affected,Organization Type,Reasons for Breach,Reference Link(s),domain,year founded,...,size range,locality,country,linkedin url,current employee estimate,total employee estimate,country_code,latitude,longitude,macrocategory
0,0,21st Century Oncology,21st century oncology,2016,2200000.0,healthcare,['hacked'],[['http://cbs12.com/news/local/21st-century-on...,21stcenturyoncology.com,0.0,...,1001 - 5000,"fort myers, florida, united states",united states,linkedin.com/company/21st-century-oncology,866.0,1426.0,US,187.24.00,-11976.31.00,Health & Science
1,1,500px,500px,2020,14870304.0,social network,['hacked'],[['https://www.theregister.co.uk/2019/02/11/62...,500px.com,2009.0,...,201 - 500,"toronto, ontario, canada",canada,linkedin.com/company/500px,123.0,281.0,CA,2228.46.00,-5885.31.00,Media & Entertainment
2,2,Accendo Insurance Co.,accendo group,2020,175350.0,healthcare,['poor security'],[['https://www.prnewswire.com/news-releases/ac...,vivepoint.com,2011.0,...,1 - 10,"nice, provence-alpes-cote d'azur, france",france,linkedin.com/company/accendo-group,2.0,5.0,FR,3839.58.00,3564.29.00,Health & Science
3,3,Adobe Systems Incorporated,adobe,2013,152000000.0,tech,['hacked'],[['https://www.theverge.com/2013/11/7/5078560/...,adobe.com,1982.0,...,10001+,"san jose, california, united states",united states,linkedin.com/company/adobe,14176.0,29824.0,US,187.24.00,-11976.31.00,Technology & Telecommunications
4,4,Adobe Inc.,adobe,2019,7500000.0,tech,['poor security'],[['https://www.comparitech.com/blog/informatio...,adobe.com,1982.0,...,10001+,"san jose, california, united states",united states,linkedin.com/company/adobe,14176.0,29824.0,US,187.24.00,-11976.31.00,Technology & Telecommunications

In [12]:
df.where(df['macrocategory']==" ")

,Unnamed: 0,Company,name,Year,Number of Records Affected,Organization Type,Reasons for Breach,Reference Link(s),domain,year founded,...,size range,locality,country,linkedin url,current employee estimate,total employee estimate,country_code,latitude,longitude,macrocategory
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
345,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
346,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
347,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:

# Step 6: Save the result to a new CSV file
df.to_csv('breaches_exp_geo_macro.csv', index=False)